
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Event Register Form Flat Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Event Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="/eventregister/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/eventregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

</head>
<body style="background-image:url('C:\Users\G10\Documents\Folder\img3')">

    <script src="js/jquery.vide.min.js"></script>
    <!-- main -->
    <div data-vide-bg="video/Ipad">
        <div class="center-container">
            <div class="w3ls-header">
                <div class="header-main">
                    <h1>Register</h1>
                    <div class="header-bottom">
                        <div class="header-right w3agile">
                            <div class="header-left-bottom agileinfo">
                                <form action="#" method="post">
                                    <div class="icon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="text" placeholder="Enter your name" required="" id="cstnameId" />
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <input type="email" placeholder="Enter your email" required="" id="emailId" />
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <input type="tel" placeholder="Phone number" required="" id="phnemumId" />
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="text" placeholder="User Name" required="" id="UserId" />
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" placeholder="Create password" required="" id="passwordId" />
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" placeholder="Confirm password" required="" id="confirmId" />
                                    </div>
                                    <div class="bottom">
                                        <input type="submit" value="Register" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
<div class="heart-rating">
    <span class="__heart">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <use xlink:href="/icons/movies-icons.svg#icon-heart"></use>
		                        	</svg>
    </span>
    <span class="__percentage">70%</span>
    <div class="__votes" itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">
        10,249 votes
        <meta itemprop="ratingValue" content="70">
        <meta itemprop="bestRating" content="100">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="ratingCount" content="10245">
        <meta itemprop="reviewCount" content="4">

    </div>
</div>
