@model JobPortal.Models.Lookout

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@Html.HiddenFor(model => model.Id, new { @class = "form-control", @id = "lookid", style = "width:30%" })

<div class="form-actions no-color">
    <input type="submit" value="Delete" id="btndel" class="btn btn-danger" /> |
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    $("#btndel").click(function () {

        var lookid = $("#lookid").val();
     //   var workid = $("s").val();
        var newUrl = '@Url.Action("Index", "Lookouts")';
        alert(lookid)
        var mod = { Id: lookid };
                $.ajax({
                url: '@Url.Action("Delete", "Lookouts")',
                dataType: "json",
                    data: JSON.stringify({
                        id: mod, s: workid
                }),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                alert("deleted Successfully");
                     window.location.href = newUrl;
                },
                error: function (xhr) {
                alert("error");
                }
                });
                });
</script>


